$line-height: 30px;
$line-padding: 5px;
$line-margin: 10px;
$line-border: calc((#{$line-height} + 2 * #{$line-padding}) / 2);

$button-icon-height: 20px;

.links-row {
  display: flex;
  justify-content: space-between;
  padding-top: $line-padding;
  padding-bottom: $line-padding;
  margin-top: $line-margin;
  margin-bottom: $line-margin;

  border: solid 2px;
  border-radius: $line-border;
  padding-inline: $line-border;

  &__label {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;

    label {
      font-size: $line-height;
      font-weight: bold;
      vertical-align: middle;
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    vertical-align: middle;
    margin-right: 10px;

    div, svg {
      width: $line-height;
      height: $line-height;
    }
  }

  &__button {
    display: flex;
    flex-direction: column;
    width: $line-height;
    height: $line-height;
    align-self: center;
    justify-content: space-around;

    border: solid 1px;
    border-radius: 15px;

    a, svg {
      width: $button-icon-height;
      height: $button-icon-height;
      display: block;
      align-self: center;
    }
  }
}

$default-color: #000000;
$default-color-t: #00000000;
$github-color: #171515;
$github-color-t: #17151530;
$linkedin-color: #0e76a8;
$linkedin-color-t: #0e76a830;
$pdf-color: #ff5722;
$pdf-color-t: #ff572230;

.links-row-color {
  &--default {
    border-color: $default-color;
    :hover {
      background-color: $default-color-t;
      cursor: pointer;
      * {
        cursor: pointer;
      }
    }
    label {
      color: $default-color;
    }
    svg {
      fill: $default-color;
    }
  }

  &--github {
    border-color: $github-color;
    &:hover {
      background-color: $github-color-t;
      cursor: pointer;
      * {
        cursor: pointer;
      }
    }
    label {
      color: $github-color;
    }
    svg {
      fill: $github-color;
    }
  }

  &--linkedin {
    border-color: $linkedin-color;
    &:hover {
      background-color: $linkedin-color-t;
      cursor: pointer;
      * {
        cursor: pointer;
      }
    }
    label {
      color: $linkedin-color;
    }
    svg {
      fill: $linkedin-color;
    }
  }

  &--pdf {
    border-color: $pdf-color;
    &:hover {
      background-color: $pdf-color-t;
      cursor: pointer;
      * {
        cursor: pointer;
      }
    }
    label {
      color: $pdf-color;
    }
    svg {
      fill: $pdf-color;
    }
  }
}
